body {
  background: #edeff0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 1.1em auto;
  
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
  box-sizing: border-box;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.card div {
  text-align: center;
  padding: 1em;
  background-color: #000;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 8px;
  color: #384047;
  line-height: 1.2;
  margin-top: 5px;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 1em;
  margin-top: 0.85em;
}

li {
  margin-bottom: 0.5em;
}

p {
  color: #222;
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 1.4;
}

img {
  width: 150px;
}

.card:hover .remove-planet {
  visibility: visible;
}

.remove-planet {
  font-size: 1.15em;
  border: none;
  visibility: hidden;
  cursor: pointer;
  margin: 0 10px 0 0;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  float: right;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.remove-planet:hover {
  background-color: black;
}

.planetDetail {
  width: 90%;
  margin: 1.1em auto;
  background-color: black;
  color: white;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.planetDetail p, .planetDetail h2{
  
  color: white;
  
}

.planetDetail img {
  width: 250px;
}
